.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6em 6em;
  box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.67);
  margin-bottom: 2em;
}
.logo {
  display: flex;
  flex: 4;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
.link-group {
  display: flex;
  gap: 20px;
  flex: 8;
}
.link-group > * {
  font-size: 18px;
}
.btn-group {
  display: flex;
  flex: 1;
  gap: 14px;
}
button {
  outline: none;
  cursor: pointer;
  background: rgb(35, 139, 3);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 14px;
  font-size: 18px;
}
.link {
  text-decoration: none;
  color: rgb(35, 139, 3);
}
